version: "3.8"
services:
  gateway:
    image: ghcr.io/openfaas/gateway:0.27.13
    ports:
      - 8080:8080
    environment:
      functions_provider_url: "http://faas-swarm:8081/"
      read_timeout: "60s"
      write_timeout: "60s"
      upstream_timeout: "65s"
      faas_nats_address: "nats"
      faas_nats_port: "4222"
      direct_functions: "false"
      basic_auth: "true"
      secret_mount_path: "/run/secrets"
      scale_from_zero: "true"
    deploy:
      resources:
        limits:
          memory: 256M
      placement:
        constraints:
          - "node.role == manager"
    secrets:
      - basic-auth-user
      - basic-auth-password
    networks:
      - functions

  faas-swarm:
    image: ghcr.io/openfaas/faas-swarm:0.9.3
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    environment:
      read_timeout: "60s"
      write_timeout: "60s"
      DOCKER_API_VERSION: "1.41"
      basic_auth: "true"
      secret_mount_path: "/run/secrets"
    deploy:
      placement:
        constraints:
          - "node.role == manager"
    secrets:
      - basic-auth-user
      - basic-auth-password
    networks:
      - functions

  nats:
    image: docker.io/library/nats-streaming:0.25.6
    ports:
      - 4222:4222
      - 8222:8222
    command: ["-m", "8222", "--store=memory", "--cluster_id=faas-cluster"]
    networks:
      - functions

  queue-worker:
    image: ghcr.io/openfaas/queue-worker:0.14.2
    environment:
      faas_nats_address: "nats"
      faas_nats_port: "4222"
      gateway_invoke: "true"
      faas_gateway_address: "gateway"
      ack_wait: "5m5s"
      max_inflight: "1"
      write_debug: "false"
      basic_auth: "true"
      secret_mount_path: "/run/secrets"
    deploy:
      resources:
        limits:
          memory: 128M
    secrets:
      - basic-auth-user
      - basic-auth-password
    networks:
      - functions

  prometheus:
    image: prom/prometheus:v2.46.0
    ports:
      - 9090:9090
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - functions

  minio:
    image: minio/minio:RELEASE.2023-09-30T07-02-29Z
    ports:
      - 9000:9000
      - 9001:9001
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: faveadmin
      MINIO_ROOT_PASSWORD: favesecret
    volumes:
      - minio_data:/data
    networks:
      - functions

volumes:
  minio_data:

networks:
  functions:
    driver: overlay
    attachable: true

secrets:
  basic-auth-user:
    external: true
  basic-auth-password:
    external: true
