apiVersion: openfaas.com/v1
kind: Function
metadata:
  name: orchestrator
  namespace: openfaas-fn
spec:
  name: orchestrator
  image: fave-orchestrator:dev
  environment:
    GATEWAY_URL: http://gateway.openfaas:8080
    ARTIFACT_BUCKET: fave-artifacts
    ARTIFACT_ENDPOINT: http://minio.default:9000
    ORCHESTRATOR_DRY_RUN: "false"
    ENABLE_OBJECT_DETECTOR: "true"
  secrets:
    - artifact-access-key
    - artifact-secret-key
  labels:
    com.openfaas.scale.min: "1"
    com.openfaas.scale.max: "5"
